<div class="bns_qust_item" data-action-id="{{actionId}}">
    <div class="bns_qust_left">
        <img src="{{icon}}" alt="{{text}}">
    </div>
    <div class="bns_qust_right">
        <span class="bns_qust_name">{{text}}</span>
        <span class="bns_qust_bal">{{points}} баллов</span>
    </div>
    <a href="#" class="js-run-task">
        <span>Выполнить</span>
        <span class="js-run-task-wrap"></span>
    </a>
</div>