<div class="bns_overlay_inner js-inner-block">
    <span class="bns_over_head">Статусы</span>
    <div class="bns_over_stat_main">
        <div class="bns_over_stat_col">
            {{#each entriesCol1}}
                <div class="bns_over_stat_item {{#if active}}act{{/if}}">
                    <div class="bns_over_stat_left">
                        <img src="{{thumbs.url_100x100}}" alt="{{name}}">
                    </div>
                    <div class="bns_over_stat_right">
                        <span class="bns_name">{{name}}</span>
                        <span class="bns_desc">{{descr}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="bns_over_stat_col">
            {{#each entriesCol2}}
                <div class="bns_over_stat_item {{#if active}}act{{/if}}">
                    <div class="bns_over_stat_left">
                        <img src="{{thumbs.url_100x100}}" alt="{{name}}">
                    </div>
                    <div class="bns_over_stat_right">
                        <span class="bns_name">{{name}}</span>
                        <span class="bns_desc">{{descr}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="bns_over_btn">
        <a href="#" class="bns_btn_cent btn_close js-close-popup">Назад</a>
    </div>
</div>