<div class="bns_info_right">
    <div class="bns_bal_now js-open-badges-popup">
        <div class="bns_progres" id="circle">
            <strong>0</strong>
        </div>
        {{#if statusPic}}
            <img src="{{statusPic}}" alt="{{status}}" class="bns_stat_now">
        {{/if}}
    </div>
    <div class="bns_info_right_text">
        <div class="bns_info_right_text_main">
            <span class="bns_info_right_text_head">Ваш статус:</span>
            <span class="bns_info_right_text_stat">{{status}}</span>
        </div>
        <span class="bns_info_right_text_next">До следующего статуса осталось совершить покупок на <strong>{{valueToNextStatus}} {{valueToNextStatusText}}</strong></span>
    </div>
</div>