<div class="bns_overlay_inner js-inner-block">
    <span class="bns_over_head">История начислений</span>
    <div class="bns_hist_main">
        <table>
            {{#each entries}}
            <tr>
                <td>
                    <span class="bns_date">{{date}}</span>
                    <span class="bns_text1">{{name}}</span>
                </td>
                <td class="bns_v_mid">
                    {{#if points}}
                        <span class="bns_bal {{addClass}}">{{points}} баллов</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>

        {{#if pages}}
        <div class="bns_hist_page js-paging">
            {{#if pagePrev}}
                <a href="#" data-page="{{pagePrev}}">Предыдушая</a>
            {{/if}}
            {{#each pages}}
                {{#if page}}
                    <a href="#" class="{{#if active}} act{{/if}}" data-page="{{page}}">{{page}}</a>
                {{/if}}
                {{#if delimiter}}
                    <span class="sp_cmn-paginate__delimeter">...</span>
                {{/if}}
            {{/each}}
            {{#if pageNext}}
                <a href="#" data-page="{{pageNext}}">Следующая</a>
            {{/if}}
        </div>
        {{/if}}

    </div>
    <div class="bns_over_btn">
        <a href="#" class="bns_btn_cent btn_close js-popup-close">Назад</a>
    </div>
</div>