<div class="js-inner-block bns_overlay_inner">
    <div class="step1">
        <span class="bns_over_head">
            Получить подарок
        </span>
        <div class="bns_over_gift">
            <img src="{{picFull}}" alt="">
            <span class="bns_over_gift_name">
                {{name}}
            </span>
            <span class="bns_over_gift_bal">
                {{points}} {{pointsText}}
            </span>
            <span class="bns_over_gift_desc">{{descr}}</span>
        </div>
        <div class="bns_over_btn">
            <a href="#" class="bns_btn_left btn_next js-confirm">Далее</a>
            <a href="#" class="bns_btn_right btn_close js-popup-close">Отмена</a>
        </div>
    </div>
    <div class="step2">
        <span class="bns_over_head">
            Поздравляем! Вы получили подарок
        </span>
        <div class="bns_over_gift">
            <img src={{picFull}} alt="">
            <span class="bns_over_gift_name">
                {{name}}
            </span>
            <span class="bns_over_gift_desc">{{descr}}</span>
        </div>
        <div class="bns_over_btn">
            <a href="#" class="bns_btn_cent btn_close js-popup-close">Ок</a>
        </div>
    </div>
</div>