<div class="bns_gift_item">
    <div class="bns_gift_item_img">
        <img asd="1" src="{{img}}" alt="{{name}}">
    </div>
    <span class="bns_name">{{name}}</span>
    <span class="bns_bal">{{points}} баллов</span>
    {{#if disable}}
        <span class="gift-not-available">Чтобы получить этот подарок, необходимо набрать {{needPoints}} {{needPointsText}}</span>
    {{else}}
        <a href="#" class="js-btn-get">Получить</a>
    {{/if}}
</div>